.footerMainContainer {
  height: 42vh;
  width: 100vw;
  background: linear-gradient(120deg, #40e0d0, #00b3b3, #008080);
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.footerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.footerSpan {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.socialMediaIcons {
  padding: 1rem;
}

.icon {
  fill: white !important; /* Default icon color */
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  margin: 0 2rem;
  max-height: 25px;
  max-width: 25px;
}

.logoImg {
  height: 40px;
  width: 150px;
  border: 0;
  border-radius: 1rem;
  object-fit: cover;
}

.footerHeading {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  margin: 0;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add depth to text */
}

.footerSubHeading {
  font-size: 1rem;
  font-family: "Parkinsans", serif;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add depth to text */
}

.footerPara {
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
  margin: 0.5rem 0;
  text-align: justify;
  max-width: 700px;
  line-height: 1.6;
}

.footerQuickLinksContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.quickLink {
  font-size: 1rem;
  color: white;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.quickLink:hover {
  padding: 0.3rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2); /* Highlight effect */
  transform: scale(1.1); /* Slight zoom effect */
}

.footerTxt {
  font-family: "Montserrat", Sans-serif;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  letter-spacing: 0.03rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.footerSubTxt {
  font-family: "Montserrat", Sans-serif;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  letter-spacing: 0.03rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-top: 10px;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .footerMainContainer {
    height: 65vh;
  }

  .footerHeading {
    font-size: 1.3rem;
    text-align: center;
  }

  .footerSubHeading {
    font-size: 0.9rem;
  }

  .footerPara {
    font-size: 0.8rem;
  }

  .quickLink {
    font-size: 0.8rem;
  }

  .footerTxt {
    font-size: 0.8rem;
  }

  .footerSubTxt {
    font-size: 0.8rem;
  }

  .icon {
    margin: 0 0.5rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .footerMainContainer {
    height: 60vh;
  }

  .footerHeading {
    font-size: 1.3rem;
    text-align: center;
  }

  .footerSubHeading {
    font-size: 0.9rem;
  }

  .footerPara {
    font-size: 0.8rem;
  }

  .quickLink {
    font-size: 0.8rem;
  }

  .footerTxt {
    font-size: 0.8rem;
  }

  .footerSubTxt {
    font-size: 0.7rem;
  }

  .icon {
    margin: 0 1rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .footerMainContainer {
    height: 60vh;
  }

  .footerHeading {
    font-size: 1.3rem;
    text-align: center;
  }

  .footerSubHeading {
    font-size: 0.9rem;
  }

  .footerPara {
    font-size: 0.8rem;
  }

  .quickLink {
    font-size: 0.8rem;
  }

  .footerTxt {
    font-size: 0.8rem;
  }

  .footerSubTxt {
    font-size: 0.7rem;
  }

  .icon {
    margin: 0 1rem;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
