@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=M+PLUS+Rounded+1c&family=Oleo+Script:wght@400;700&family=Playwrite+VN:wght@100..400&family=Rowdies:wght@300;400;700&family=Signika+Negative:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap");

* {
  box-sizing: border-box !important;
  margin: 0;
  font-family: "Exo 2", serif;
  /* font-family: "Signika Negative", serif; */
  font-weight: 400;
  color: #333;
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  padding: 0;
  background-color: whitesmoke;
  height: auto;
  width: 100vw;
  overflow-x: auto;
  overflow-x: hidden;
}

html {
  overflow: hidden;
}

.main-body {
  max-width: 80rem /* 1280px */;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #aff2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4a9faf;
  border-radius: 20px;
  border: 2px solid #73c7c7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4a9faf;
}

::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-s-text {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-text {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.cinzel-text {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
